form {
    display: flex;
    flex-direction: column;
}

label {
    color: #999;
    font-size: 0.75rem;
}

input {
    height: 2.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    color: #022c43;
    border-radius: 5px;
    padding: 0 15px;
}

button {
    height: 2.5rem;
    width: 80px;
    font-size: 1rem;
    background-color: #022c43;
    color: #ccc;
    border-radius: 5px;
}

.form-control {
    display: flex;
    flex-direction: column;
}

.form-control label {
    margin: 1rem 0 0.2rem;
}

form button {
    margin-top: 1rem;
}
