/*

Palette colors:
1. #022c43
2. #053f5e
3. #115173
4. #ffd700

palette from https://colorhunt.co/palette/141100

*/

body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}

h1,
h2 {
    margin: 0;
    padding: 0;
    color: #053f5e;
}

.site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1;
    background-color: #eee;
}

.site-footer {
    height: 200px;
    background: linear-gradient(180deg, #020024 0%, #022c43 70%, #064f77 100%);
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .site-content {
        padding: 0 3rem;
    }
}
