nav {
    background-color: #022c43;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    margin-left: 15px;
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-right: 50px;
    color: #ccc;
}

.nav-links a:hover {
    color: #fff;
}

img {
    margin-right: 5px;
}

.nav-logo a,
.nav-links a {
    margin-right: 15px;
    text-decoration: none;
    color: #ccc;
}

.user-profile {
    position: relative;
    display: flex;
    align-items: center;
    color: #ccc;
}

.user-profile:hover {
    color: #fff;
}

.user-profile span {
    cursor: pointer;
}

.panel-container {
    font-family: 'Arial';
    color: #022c43;
    position: relative;
}

.panel {
    position: absolute;
    top: 28px;
    right: -30px;
    border: 1px solid #ddd;
    width: 150px;
    box-shadow: 5px 5px 8px #ccc;
    border-radius: 8px;
    background-color: #fff;
    z-index: 10;
}

.panel p {
    margin-left: 25px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .nav-logo {
        font-size: 1.25rem;
    }
    .nav-links {
        margin-right: 15px;
    }
    .panel {
        right: -10px;
    }
}
