.site-footer_content {
    display: flex;
    justify-content: center;
    color: #ccc;
}

/*
.site-footer_content section {
    border: 1px solid #fff;
}
*/

.social-account {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.site-footer_about {
    max-width: 450px;
    margin-right: 4rem;
}

.site-footer_connect ul {
    list-style-type: none;
    padding: 0;
}

.site-footer_connect a {
    text-decoration: none;
    color: #ccc;
}

.site-footer_connect a:hover {
    color: #fff;
}

.social-icon {
    margin-right: 10px;
}
