/*

Palette colors:
1. #022c43
2. #053f5e
3. #115173
4. #ffd700

palette from https://colorhunt.co/palette/141100

*/

body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}

h1,
h2 {
    margin: 0;
    padding: 0;
    color: #053f5e;
}

.site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1;
}

.site-footer {
    height: 200px;
    background-color: #999;
}

.site-footer_content {
    display: flex;
    justify-content: space-around;
    color: #fff;
}

.social-account {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.site-footer_about,
.site-footer_connect {
    max-width: 350px;
}

.site-footer_connect ul {
    list-style-type: none;
    padding: 0;
}

.site-footer_connect a {
    text-decoration: none;
    color: #fff;
}

.social-icon {
    margin-right: 10px;
}

.content-container {
    max-width: 960px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

.form-control {
    display: flex;
    flex-direction: column;
}

form button {
    margin-top: 1rem;
    cursor: pointer;
}

form button:hover {
    background-color: #115173;
}
